:root {
    --tamnoPlava: #140035;
    --svetloPlava: #39a1ff;
    --bela: #fff;
    --svetloSiva: #f7f7f7;
    --font: 16px;
    --transition: .4s ease;
    --padding: 100px 0;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
button {
    background: var(--tamnoPlava);
    border: 1px solid var(--tamnoPlava);
    color: var(--bela);
    padding: 15px 30px;
    font-size: 1.2rem;
    transition: var(--transition);
}
button:hover {
    background: var(--bela);
    color: var(--tamnoPlava);
    cursor: pointer;
    box-shadow: 4px 4px var(--tamnoPlava);
}
.container {
    width: 80%;
    margin: auto;
}
.container::after {
    display: block;
    content: "";
    clear: both;
}
/*****************
header
*****************/
header {
    background-image: url(img/header.jpg);
    height: 120vh;
    background-position: center;
    background-size: cover;
}
header hgroup {
    padding: 20% 0 0 5%;
}
header hgroup h1 {
    font-size: 6rem;
    text-shadow: 2px 2px var(--bela);
    color: var(--tamnoPlava);
}
header hgroup p {
    font-size: 1.4rem;
    color: var(--bela);
    padding-bottom: 30px;
}

/*****************
about
*****************/
.about {
    padding: 100px 20px;
}
.about article:first-child {
    float: left;
    width: 45%;
}
.about article:first-child h2 {
    font-size: 3rem;
}
.about article:first-child p {
    padding-bottom: 20px
}
.about article:last-child {
    float: right;
    width: 45%;
    background: var(--svetloPlava);
    padding: 30px;
    color: var(--bela);
}
.about article:last-child h3 {
    font-size: 2rem;
}
/*****************
services
*****************/
.services {
    padding: var(--padding);
    background: var(--svetloSiva);
}
.services article {
    width: 33%;
    float: left;
    padding: 20px;
}
.services img {
    width: 100%;
}
.services h2 {
    font-size: 3rem;
    color: var(--tamnoPlava);
}
.services p {
    padding: 10px 0 30px 0;
}
/*****************
projects
*****************/
.projects {
    padding: var(--padding);
}
.projects h2 {
    font-size: 3rem;
    color: var(--tamnoPlava);
    text-align: center;
}
.projects h2 + p {
    text-align: center;
    padding: 10px 0 30px 0;
}
.projects article {
    width: 33%;
    float: left;
    padding: 20px;
}
.projects img {
    width: 100%;
}
.projects article h3 {
    color: var(--tamnoPlava);
    font-size: 1.5rem;
}
.projects article p {
    padding: 10px 0 20px 0;
}
/*****************
footer
*****************/
footer {
    background: var(--svetloPlava);
    padding: var(--padding);
    color: var(--bela);
}
footer article {
    width: 33%;
    float: left;
    padding: 20px;
}
footer h2 {
    text-align: center;
    font-size: 3rem;
}
footer h3 {
    font-size: 1.5rem;
}
footer h3 + p {
    padding: 20px 0;
}
/*****************
bootom bar
*****************/






